// Body
$body-bg: #fafbfc;

// Typography
$primary-font: "Comfortaa", cursive;
$secondary-font: "Montserrat", sans-serif;

// Colors
$primary-dark: #289672;
$primary-light: #29bb89;
$primary-accent: #e9d700;
$secondary-accent: #ffce89;
